@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
     max-width: 1000px;
     margin-top:15px;
}
}

.registration .form-group{
     padding:10px 30px;
}