<div class="slick-wrapper">
    <div id="slick1">
        <div class="card">
                <img src="assets/imgs/offers.png" class="card-img-top" alt="...">
                <div class="card-body txt-sm  dir">
                  <h5 class="card-title txt-sm font-m">شفط الدهون</h5>
                  <div class="row dir">
                    <div class="col-6">
                        <span class="txt-grayy txt-decoration">2000</span><span class="txt-grayy">ريال</span>
                    </div>
                    <div class="col-6">
                        <span class="txt-blue">1,400</span><span class="txt-blue">ريال</span>
                    </div>
                  </div>
                   <span class="txt-red txt-xs">ينتهي في</span><span class="txt-red txt-xs">30 ,AUG,2021</span>
                </div>
        </div>
        <div class="card">
            <img src="assets/imgs/offers.png" class="card-img-top" alt="...">
            <div class="card-body txt-sm dir">
              <h5 class="card-title txt-sm font-m">شفط الدهون</h5>
              <div class="row dir">
                <div class="col-6">
                    <span class="txt-grayy txt-decoration">2000</span><span class="txt-grayy">ريال</span>
                </div>
                <div class="col-6">
                    <span class="txt-blue">1,400</span><span class="txt-blue">ريال</span>
                </div>
              </div>
               <span class="txt-red txt-xs">ينتهي في</span><span class="txt-red txt-xs">30 ,AUG,2021</span>
            </div>
        </div>
        <div class="card">
            <img src="assets/imgs/offers.png" class="card-img-top" alt="...">
            <div class="card-body txt-sm dir">
              <h5 class="card-title txt-sm font-m">شفط الدهون</h5>
              <div class="row dir">
                <div class="col-6">
                    <span class="txt-grayy txt-decoration">2000</span><span class="txt-grayy">ريال</span>
                </div>
                <div class="col-6">
                    <span class="txt-blue">1,400</span><span class="txt-blue">ريال</span>
                </div>
               </div>
               <span class="txt-red txt-xs">ينتهي في</span><span class="txt-red txt-xs">30 ,AUG,2021</span>
            </div>
        </div>
        <div class="card">
            <img src="assets/imgs/offers.png" class="card-img-top" alt="...">
            <div class="card-body txt-sm dir">
              <h5 class="card-title txt-sm font-m">شفط الدهون</h5>
              <div class="row dir">
                <div class="col-6">
                    <span class="txt-grayy txt-decoration">2000</span><span class="txt-grayy">ريال</span>
                </div>
                <div class="col-6">
                    <span class="txt-blue">1,400</span><span class="txt-blue">ريال</span>
                </div>
               </div>
               <span class="txt-red txt-xs">ينتهي في</span><span class="txt-red txt-xs">30 ,AUG,2021</span>
            </div>
        </div>
        <div class="card">
            <img src="assets/imgs/offers.png" class="card-img-top" alt="...">
            <div class="card-body txt-sm dir">
              <h5 class="card-title txt-sm font-m">شفط الدهون</h5>
              <div class="row dir">
                <div class="col-6">
                    <span class="txt-grayy txt-decoration">2000</span><span class="txt-grayy">ريال</span>
                </div>
                <div class="col-6">
                    <span class="txt-blue">1,400</span><span class="txt-blue">ريال</span>
                </div>
               </div>
               <span class="txt-red txt-xs">ينتهي في</span><span class="txt-red txt-xs">30 ,AUG,2021</span>
            </div>
        </div>
        <div class="card">
            <img src="assets/imgs/offers.png" class="card-img-top" alt="...">
            <div class="card-body txt-sm dir">
              <h5 class="card-title txt-sm font-m">شفط الدهون</h5>
              <div class="row dir">
                <div class="col-6">
                    <span class="txt-grayy txt-decoration">2000</span><span class="txt-grayy">ريال</span>
                </div>
                <div class="col-6">
                    <span class="txt-blue">1,400</span><span class="txt-blue">ريال</span>
                </div>
               </div>
               <span class="txt-red txt-xs">ينتهي في</span><span class="txt-red txt-xs">30 ,AUG,2021</span>
            </div>
        </div>
        
    </div>
</div>